# Installation

Download from here
https://dev.mysql.com/downloads/connector/python/

Then install it in the virtual environment using PIP:
pip install mysql-connector-python

# Importing libraries

In [2]:
import mysql.connector
from mysql.connector import errorcode

# Create Database

In [24]:
def create_database(cursor):
    try:
        cursor.execute(f'CREATE DATABASE {DB_NAME} DEFAULT CHARACTER SET utf8')
    except mysql.connector.Error as err:
        print(f'Failed creating database: {err}')
        exit(1)

try:
    cursor.execute(f"USE {DB_NAME}")
    print(f'Database in use: {DB_NAME}')
    
except mysql.connector.Error as err:
    print(f"Database {DB_NAME} does not exists.")
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor)
        print(f"Database {DB_NAME} created successfully.")
        cnx.database = DB_NAME
    else:
        print(err)
        exit(1)

Database in use: ocr

# Connecting to an existing Database

### Option 1

In [9]:
try:
    # Options
    user='root'
    password='r00t'
    database='ocr'
    
    # Set Connection
    cnx = mysql.connector.connect(user=user, password=password, database=database)
    
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
else:
    cnx.close()

### Option 2 (My Preference)

In [4]:
try:
    # Configuration
    config = {
        'user': 'root',
        'password': 'r00t',
        'database': 'ocr',
        'raise_on_warnings': True
    }
    
    # Set Connection
    cnx = mysql.connector.connect(**config)
    
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
else:
    cnx.close()

# Creating Tables

In [96]:
TABLES = {}

TABLES['results'] = '''
    CREATE TABLE results (
    id INT AUTO_INCREMENT, 
    ocr_text VARCHAR(255), 
    created_at timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
    modified_at timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    active boolean NOT NULL DEFAULT 1,
    PRIMARY KEY (id))
'''

In [97]:
cnx = mysql.connector.connect(**config)
cursor = cnx.cursor()

DB_NAME = 'ocr'
cursor.execute(f"USE {DB_NAME}")

for table in TABLES:
    mysql_statement = TABLES[table]
    
    try:
        print(f"Creating table '{table}'...")
        cursor.execute(mysql_statement)
        
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")

cursor.close()
cnx.close()

Creating table 'results'...
OK

# Inserting Records

mysql_statement = '''INSERT INTO results (ocr_text) VALUES (%s)'''
values = [('text1')]

cursor.execute(mysql_statement, values)

In [23]:
cnx = mysql.connector.connect(**config)
cursor = cnx.cursor()

DB_NAME = 'ocr'
cursor.execute(f"USE {DB_NAME}")

In [25]:
ocr_text='ocr_text'
value= "'textnn'"
mysql_statement = f'''
    INSERT INTO 
    results ({ocr_text}) VALUES ({value})
    '''
print(mysql_statement)
cursor.execute(mysql_statement)

    INSERT INTO
    results (ocr_text) VALUES ('textnn')

In [26]:
cnx.commit()

cursor.close()
cnx.close()

# Drop a Table

In [95]:
cnx = mysql.connector.connect(**config)
cursor = cnx.cursor()

DB_NAME = 'ocr'
cursor.execute(f"USE {DB_NAME}")

mysql_statement = '''DROP TABLE results, results2, results3, results4, results5, results6'''
cursor.execute(mysql_statement)

cursor.close()
cnx.close()