In [33]:
import pandas as pd
import numpy as np
import timeit

# Reading Large CSV Files

In [59]:
path = "D:/Laboral/Iota Impact/Projects/Datasets/long-and-lat-by-state.csv"
# path = "D:/Laboral/Iota Impact/Projects/Datasets/final_triangulation_oscar_variables_fixed_pickle.csv"

sep = ';'
chunksize=5

start = timeit.default_timer()
chunk = pd.read_csv(
    path,
    sep=sep,
    index_col=False,
#     engine='c',
    dtype={
        'Latitude': np.float16,
        'Longitud': np.float16,
        'Fip': np.uint8,
    },
    iterator=True,
    chunksize=chunksize,
    encoding='utf-8'
)
stop = timeit.default_timer()
print(stop-start)
print(chunk)

0.01992740000014237
<pandas.io.parsers.TextFileReader object at 0x000002499826F5E0>

In [12]:
next(chunk)

                   State Latitude    Longitud Code  Fip Name_stateuniversity
0     Wisconsin, the USA     44,5       -89,5   WI   55            Wisconsin
1  West Virginia, the US       39       -80,5   WV   54        West Virginia
2       Vermont, the USA       44  -72,699997   VT   50              Vermont
3         Texas, the USA       31        -100   TX   48                Texas
4   South Dakota, the US     44,5        -100   SD   46         South Dakota

In [13]:
next(chunk)

                   State   Latitude Longitud Code  Fip Name_stateuniversity
5   Rhode Island, the US  41,700001    -71,5   RI   44         Rhode Island
6         Oregon, the US         44   -120,5   OR   41               Oregon
7       New York, the US         43      -75   NY   36             New York
8  New Hampshire, the US         44    -71,5   NH   33        New Hampshire
9       Nebraska, the US       41,5     -100   NE   31             Nebraska

In [43]:
type(chunk['Longitud'][0]), type(chunk['Latitude'][0]), type(chunk['Code'][0]), type(chunk['State'][0])

(str, numpy.float64, str, str)

# Reading Large Excel Files

In [58]:
path = "D:/Laboral/Iota Impact/Projects/Datasets/long-and-lat-by-state.xlsx"
chunksize=5

start = timeit.default_timer()
chunk = pd.read_excel(
    path,
#     index_col=False,
    dtype={
        'Latitude': np.float16,
        'Longitud': np.float16,
        'Fip': np.uint8,
    },
    skiprows=0,
    nrows=chunksize
)
stop = timeit.default_timer()
print(stop-start)
print(chunk)

0.0304270000001452
                   State  Latitude  Longitud Code  Fip Name_stateuniversity
0     Wisconsin, the USA      44.5  -89.5000   WI   55            Wisconsin
1  West Virginia, the US      39.0  -80.5000   WV   54        West Virginia
2       Vermont, the USA      44.0  -72.6875   VT   50              Vermont
3         Texas, the USA      31.0 -100.0000   TX   48                Texas
4   South Dakota, the US      44.5 -100.0000   SD   46         South Dakota

In [57]:
type(chunk['Longitud'][0]), type(chunk['Latitude'][0]), type(chunk['Fip'][0])

(numpy.float16, numpy.float16, numpy.uint8)

In [64]:
type(chunk)

pandas.io.parsers.TextFileReader

In [65]:
usecols

NameError: name 'usecols' is not defined

In [67]:
a = ['a', 'b', 'c']

In [70]:
'A' not in a

True

In [73]:
excluded_fields = ['a']
[col for col in a if col not in excluded_fields]

['b', 'c']